.header {
  background-color: var(--primary-color);
}

.headerContainer {
  color: var(--white-color);
  text-align: center;
  padding: 64px 20px;
  position: relative;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.headerTitle {
  font-weight: 400;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 16px;
}

.headerText {
  max-width: 846px;
  margin: 0 auto;
}

.logoutButtonMobile {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 16px;
}

.logoutButton {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 8px 16px;
  border: 1px solid var(--light-gray-color);
  margin-left: auto;
  margin-right: 0;
  border-radius: 8px;
  display: none;
}

.main {
  padding: 32px 35px;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (width >= 700px) {
  .headerContainer {
    padding-top: 32px;
  }
  .headerTitle {
    font-size: 64px;
  }
  
  .headerText {
    font-size: 20px;
  }

  .logoutButtonMobile {
    display: none;
  }
  
  .logoutButton {
    display: block;
  }
}

@media screen and (width >= 1440px) {
  .headerContainer {
    padding-left: 80px;
    padding-right: 80px;
  }

  .main {
    padding-left: 80px;
    padding-right: 80px;
  }
}
