:root {
  --primary-color: #512689;
  --white-color: #FFFFFF;
  --black-color: #151317;
  --gray-color: #808185;
  --light-gray-color: #F8F8F8;
  --error-color: #FF6161;

  --max-width: 1440px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 16px;
  font-weight: 400;
  color: var(--black-color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
